@import "tailwindcss";

@theme {
  /* Base sombre */
  --color-base: #160833;

  /* Palette catégorielle */
  --color-entreprenariat: #ea1958;
  --color-tech: #51ed9b;
  --color-ia: #be33ff;
  --color-structure-data: #61f3ff;
  --color-creativite: #f2f128;
}